/* Twitter */
.wrapper-home .stream-container { display: none; }

/* YouTube */
#feed-main-what_to_watch { display: none; }

/* Facebook */
#stream_pagelet { visibility: hidden; }

/* Geenstijl */
.home #content *, .home #headlines, .home #klassiekers, .home #vroegah, .home #gstoppers { display: none; }
