/* Twitter */
.wrapper-home .stream-container { display: none; }

/* YouTube */
#feed-main-what_to_watch { display: none; }

/* Facebook */
#stream_pagelet { visibility: hidden; }

/* Geenstijl */
.home #content *, .home #headlines, .home #klassiekers, .home #vroegah, .home #gstoppers { display: none; }

/* Dumpert */
.home .dump-main .dump-cnt, .home .dump-side #top5 { display: none; }

/* NU.nl */
#nu .zone[data-zone="main"] * { visibility: hidden; }
#nu .zone[data-zone="sidebar"] .mostcombination { display: none; }

/* Hackernews */
#hnmain .itemlist { display: none; }
